In [ ]:
print(list(range(0, -10, -1)) == [0, -1, -2, -3, -4, -5, -6, -7, -8, -9])
print(list(range(0)) == [0])
print(range(0, 3, 2) == range(0, 4, 2))
print(range(10) == [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
print(range(10))

True
False
True
False
range(0, 10)
1

In [8]:
z = 3
y = 7
x = y == z and y > z or z > y and z != y
print(int(x))
print(y == z and y > z or z > y and z != y)
print(False and True or False and True)

0
False
False

In [18]:
i = 6
while i > 0:
    i -= 2
    print('*')
    if i == 2:
        break
    else:
        continue
    print('1')
else:
    print('2')

*
*

In [26]:
x = {(1, 2): 1, (2, 3): 2}
print(x[1,2])
print(x[2,3])
print(x)

1
2
{(1, 2): 1, (2, 3): 2}

In [37]:
    x = 1
    y = 0
    z = 1
    print(y ^ z)    # 1
    print(x | y)    # 1
    print( y ^ z == x | y) # True

1
1
True

In [35]:
x = 1
while x < 10:
    print('*')
    x *= 2*x

*
*
*

In [ ]:
x = input()
y = input()
print (x * y)

20

In [47]:
my_list = (1, 5, 10, 19, 20)    # this is a tuple
#del my_list[-1]                # raise an exception
    
my_list = {1:2, 5:2, 10:2, 19:2, 17:2, 16:2, 20:2}
my_list.pop(20)   
print(my_list)
    
my_list = (1, 5, 10, 19, 20)
#my_list.remove(20)             # raise an exception
    
my_list = [1, 5, 10, 19, 20]    # this is a list
del my_list[-1]
print(my_list)                  # [1, 5, 10, 19]
    
my_list = [1, 5, 10, 19, 20]
my_list.pop()
print(my_list)                  #  [1, 5, 10, 19]
    
my_list = [1, 5, 10, 19, 20]
my_list.remove(20)
print(my_list)                  #  [1, 5, 10, 19]

{1: 2, 5: 2, 10: 2, 19: 2, 17: 2, 16: 2}
[1, 5, 10, 19]
[1, 5, 10, 19]
[1, 5, 10, 19]

In [54]:
print("=== LISTAS ===")
lista = [10, 20, 30, 40, 50]
print("Lista inicial:", lista)

# del (por índice)
del lista[1]
print("Após del lista[1]:", lista)

# remove (por valor)
lista.remove(50)
print("Após lista.remove(50):", lista)

# pop (por índice)
removido = lista.pop(0)
print(f"Após lista.pop(0): {lista}, removido = {removido}")

=== LISTAS ===
Lista inicial: [10, 20, 30, 40, 50]
Após del lista[1]: [10, 30, 40, 50]
Após lista.remove(50): [10, 30, 40]
Após lista.pop(0): [30, 40], removido = 10

In [62]:
dictionary = {"Luke": "Skywalker", "Han": "Solo", "Darth": "Vader"}

for x in dictionary.items():
    print(x,end=',')  

tup = dictionary.items()
print(tup)

('Luke', 'Skywalker'),('Han', 'Solo'),('Darth', 'Vader'),dict_items([('Luke', 'Skywalker'), ('Han', 'Solo'), ('Darth', 'Vader')])

In [69]:
dictionary = {"Luke": "Skywalker", "Han": "Solo", "Darth": "Vader"}

print(dictionary.keys()); print("---")
print(dictionary.values()); print("---")
print(dictionary.items())

dict_keys(['Luke', 'Han', 'Darth'])
---
dict_values(['Skywalker', 'Solo', 'Vader'])
---
dict_items([('Luke', 'Skywalker'), ('Han', 'Solo'), ('Darth', 'Vader')])

In [ ]:
print(bool(4**0))
print(bool([]))
print(bool('False'))
print(bool(None))

True
False
True
False

In [88]:
x = range(3, 12, 3)
for n in x:
    if (n%2 == 0):
        print(n, end='')    # 6
    else:
        pass
else:
    print(sum(x))        # 18

matriz={10:"joao",20:"ze",30:"miguel",40:"rui",50:"luis"}
mat2=(4,5,6)
print(sum(matriz))
print(sum(mat2))
x=range(10); print(x)
print(sum(x))

618
150
15
range(0, 10)
45

In [90]:
x = input()
y = int(input())
print(x * y)

2222

In [92]:
x = 5//2.0; print(x)
y = 5 % 3; print(y)
z = x + y; print(z)
print(z)

2.0
2
4.0
4.0

In [110]:
for i in range(1,11,2):
    print(i, end='')

else:
    print('*')

13579*

In [107]:
x = [10, 20, 30, 40,10,10, 50]
print(x.count(10))
print("----")
print(tuple(('12', 2, "ABC")))
print("----")
X1 = 1,
print(type(X1))

3
----
('12', 2, 'ABC')
----
<class 'tuple'>

In [111]:
print(1%2)

1

In [ ]:
for i in range(1,20):
    if i%7 == 0:
        break
    elif i%2 == 0:
        continue
    else:
        print(i, end='')
else:
    print(8)

In [113]:
a = 3; b = 4; c = 5
print(a,b,c,',',c,b,a,sep='')

345,543

In [114]:
print(5//2)
print(5/2)

2
2.5

In [155]:
def func(x):
    for i in range(x+1):
        if i%6 == 0:
            yield i
list1 = [x for x in func(100)]

print(list1)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [129]:
countries1 = ['France', 'USA', 'Italy']
countries2 = countries1
countries3 = countries1[:]

print(countries3 == countries1)
print(id(countries3), id(countries1))
print(countries2 is countries1)
print(id(countries1), id(countries2))

True
2740252211456 2740253229248
True
2740253229248 2740253229248

In [131]:
countries1 = ['France', 'USA', 'Italy']
countries2 = countries1
countries3 = countries1[:]
    
countries2[0] = 'England'
countries3[1] = 'Canada'
    
res = 0
print(countries1, countries2, countries3)
print("----")
for i in (countries1, countries2, countries3):
    if i[0] == 'England':
        res += 1
    if i[1] == 'Canada':
        res += 2
    
print(res)

['England', 'USA', 'Italy'] ['England', 'USA', 'Italy'] ['France', 'Canada', 'Italy']
----
4

In [140]:
my_dict = {}
my_list = ['Luke', 'Han', 'Leia', 'Ben']

print(my_dict)
for i in range(len(my_list)-1):
    #my_dict[i] = (my_list[i], )
    my_dict[i] = my_list[i]
    
print(my_dict)     # {0: ('Luke',), 1: ('Han',), 2: ('Leia',)}
    
#for i in sorted(my_dict.keys()):
for i in my_dict.keys():
    j = my_dict[i]
    #print(j[0])    # Luke -> Han -> Leia
    print(j)    # Luke -> Han -> Leia
    #print(j[i])   # Luke -> exception : IndexError: tuple index out of range
    #print(j)      # ('Luke',) -> ('Han',) -> ('Leia',)
    #print(j['0']) # exception : TypeError: tuple indices must be integers or slices, not str

{}
{0: 'Luke', 1: 'Han', 2: 'Leia'}
Luke
Han
Leia

In [149]:
x = eval(input("Enter number : "))
print(int(x))

5

In [7]:
List = (1, 2, 4, 8)
print(List[2])
List = List[1:-2]
print(List)        # (2,)
List = list(List)
print(List)        # [2]

4
(2,)
[2]

In [19]:
x = 1
while x < 5:
    print('*',end='')
    x = x << 1
    print(x)
else:
    print(2*'*')
#finally:
#    print(3*'*')

*2
*4
*8
**