In [11]:
class MyExcept(Exception):
    
    def __init__(self, description = 'message A'):
        self.message = description
        
    def __str__(self):
        return 'message B'
    
try:    
    #o = MyExcept("batatas")
    #print(o.message)
    #raise Exception('message C')
    raise Exception('message C')
    
except MyExcept as err:
    print(err)   
#except Exception:
#    print('message E')
else:
    print('message D')

Exception: message C

In [2]:
string = "Python"
    
def fun(s):    
    s2 = ""
    
    for c in s:
        s2 = c+ s2
        
    return s2
    
print(fun(string))

nohtyP

In [ ]:
a = 2
    
x = 1 if a > 1 else 1/0  # a > 1 é True, então x = 1 (1/0 não é avaliado)
#y = 1 if a == 2 else y = 0   # y=0 ESTA ERRADO! Syntaxe error; só pode ter 1 atribuicao
y = 1 if a == 2 else 0   # a == 2 é True, então y = 1

print(x + y)  # 1 + 1 = 2

2

In [7]:
nota = 12
classificacao = "A" if nota >= 90 else "B" if nota >= 80 else "C" if nota >= 70 else "F"
print(classificacao)  # Output: "B"

F

In [8]:
l1 = ["It Was", "a Dark", "and", "Stormy Night"]
print(l1)
l2 = "".join(l1).split()
print(l2)
print(l2[2])

['It Was', 'a Dark', 'and', 'Stormy Night']
['It', 'Wasa', 'DarkandStormy', 'Night']
DarkandStormy

In [10]:
s = "It Was a Dark and Stormy Night"
l = sorted(s.split())
print(l)
print(l[0])

['Dark', 'It', 'Night', 'Stormy', 'Was', 'a', 'and']
Dark

In [11]:
a = [1, 2]        # lista com 2 elementos
b = [10, 20, 30]  # lista com 3 elementos

resultado = map(lambda x, y: x + y, a, b)
print(list(resultado))

[11, 22]

In [36]:
class A:
    pass

obj1 = A()
obj2 = A()
#obj2=obj1
 
A.x = 1
obj1.x = 100
#obj2.x = 200
#print(obj1._A__k)
print(A.x, obj1.x,obj2.x)

#print(obj1.p, obj2.p, id(obj1),id(obj2))
y =  A.x + obj1.x + obj2.x
 
print(y)

1 100 1
102

In [ ]:
strm = open('book.txt', 'r')
    
for i in strm:
    print(i, end='')
    
#print()
#strm.seek(0)
    
for i in strm:    
    print(i[0], end='\n')

Brainy
Object
Of
Knowledge
B
O
O
K

In [46]:
class A:
    pass
    
obj = A()

print(type(obj).__name__)
print(type(obj))
print(obj.__class__.__name__)
print(obj.__class__)

A
<class '__main__.A'>
A
<class '__main__.A'>

In [51]:
# Convertendo para lista
numeros = [1, 2, 3, 4, 5]

# filter retorna iterator, não lista
filtrado = filter(lambda x: x > 2, numeros)
print("Filtro:", type(filtrado))  # <class 'filter'>

filtrado = map(lambda x: x > 2, numeros)
print("Map:",type(filtrado))  # <class 'filter'>

# Convertendo para lista
lista_filtrada = list(filtrado)
print("lista filtrada: ",lista_filtrada)
print(type(lista_filtrada))  # <class 'list'>

# O mesmo vale para map
mapeado = map(lambda x: x * 2, numeros)
print(type(mapeado))  # <class 'map'>

lista_mapeada = list(mapeado)
print(type(lista_mapeada))  # <class 'list'>
print("lista mapeada: ",lista_mapeada)

Filtro: <class 'filter'>
Map: <class 'map'>
lista filtrada:  [False, False, True, True, True]
<class 'list'>
<class 'map'>
<class 'list'>
lista mapeada:  [2, 4, 6, 8, 10]

In [62]:
import os
#print(os.listdir())    
#os.makedirs("Python/Java/C++")
#os.mkdir("Python")
#os.chdir("Python")
    
print(os.getcwd())
print(os.listdir())

d:\OneDrive\Documentos\REPOS\PYTHON\Cursos_Python\Meus-Programas\Exames-SIMUL\IPynb\Python
['Java']

In [92]:
x = None or "a"
y = [None] and "a"
    
print(x, y)
print(0 or 90)

print(10 and 20)

a a
90
20

In [97]:
x = 1

for i in range(-3):    
    x = '*' * i
    break
 
print(x)
print(-3 * 'a')

print(list(range(-3))) # → [].

1

[]

In [100]:
class A():
    def __init__(self, snake):
        self.snake = snake
    
class B(A):    
    def __str__(self):
        return self.snake
    
class C(B):
    def __str__(self):
        return self.snake*3
    
obj1 = A("Python")
obj2 = B("Viper")
obj3 = C("Rattlesnake")
    
print(obj1)
print(obj2)
print(obj3)

<__main__.A object at 0x00000292AB2016A0>
Viper
RattlesnakeRattlesnakeRattlesnake

In [108]:
class A:
    pass
    
a = A()
b = 1e1
c = 3 * 'a'
d = (1)
e = (1,)
print(a)
print(1e2)

print(type(e))
print(isinstance(e, (int, float, A)))

<__main__.A object at 0x00000292AB203380>
100.0
<class 'tuple'>
False

In [110]:
a = 10000
b = 10000
    
c = "Python is not a snake"
d = "Python is not a snake"
    
print(a == b, a is b)
print(c == d, c is d)

print(id(a),id(b))
print(id(c),id(d))

True False
True False
2828967684080 2828967685264
2828968419056 2828968768624

In [111]:
import os
    
os.makedirs("Snake/Python")      # line 3
os.makedirs("Snake/Viper/Cobra") # line 4
    
print(os.listdir("Snake"))

['Python', 'Viper']

In [113]:
import math as mm
print(mm.ceil(3.8))

4

In [123]:
a = lambda x: x*2
print(a)
print(a(5))  
print(type(a))

<function <lambda> at 0x00000292ABA25DA0>
10
<class 'function'>

In [124]:
class Pessoa:
    pass

p = Pessoa()
setattr(p, 'nome', 'Maria')      # Define atributo de instância
setattr(Pessoa, 'especie', 'Homo sapiens')  # Define atributo de classe

print(p.nome)        # Maria
print(p.especie)     # Homo sapiens

Maria
Homo sapiens

In [133]:
class A:
    def __init__(self):
        print("Python")
        self.m=10
        
    #def m(self):
    #    print("Viper")      
#    def __str__(self):
#        return "ola"
        
obj = A()
print(obj)
print(obj.m)

Python
<__main__.A object at 0x00000292AB2038C0>
10

In [135]:
print(type(chr(122)))
print(type(ord('x')))
    
print(len(chr(122)))
#print(len(ord('x')))
print(len(10))

<class 'str'>
<class 'int'>
1

TypeError: object of type 'int' has no len()