In [5]:
from math import sqrt as root
    
def my_root(x):
    try:
        return root(x)
    except:
        print('Function Error !')
        raise
    
x=-2
try:
    assert x + 2, "Wrong input !"
    print(my_root(x))
except Exception as e:
    print(e)
    #print("Batatas")
else:
    print('All good !')

Function Error !
Batatas

In [6]:

class Jedi:
    def __init__(self, name):
        self.name = name
    
    def set_force(self, val):
        self.__force = val
    
Luke = Jedi('Luke')
Luke.set_force(10)
Luke.lightsaber = True
    
print(Luke.__dict__)

{'name': 'Luke', '_Jedi__force': 10, 'lightsaber': True}

In [13]:
class Jedi:
    LightSaber = 1
    def __init__(self):
        self.force = 10
        
    
class Sith(Jedi):
    def __init__(self):
        self.force = 15
        
class Padawan(Sith):
    force = 5
    def __init__(self):
        super().__init__()
        
Luke = Padawan()
    
#print(hasattr(Padawan, 'LightSaber'))
print(hasattr(Luke, 'LightSaber'))
print(Luke.force, Padawan.force)

True
15 5

In [15]:
class Jedi:
    def __init__(self):
        self.force = 10
        
class Sith:
    def __init__(self):
        self.force = 15
        self.bases = 1
        
class Padawan(Sith, Jedi):
    def __init__(self):
        super().__init__()
    
Luke=Padawan()
print(Padawan.__bases__)

(<class '__main__.Sith'>, <class '__main__.Jedi'>)

In [17]:
def list_func(x):
    try:
        return x[4]/x[-1]
    except ZeroDivisionError:
        print("Function Error #1")
        raise
    except IndexError:
        print("Function Error #2")
        raise
    except:
        print("Function Error #3")
        raise
    
my_list=[3,4,1,0]
try:
    print(list_func(my_list))
except LookupError:
    print("Program Error #1")
except ArithmeticError:
    print("Program Error #2")
except:
    print("Program Error #3")

Function Error #2
None

In [18]:
from platform import system, version, python_implementation, python_version
print(system())                # Linux
print(version())               # #242-Ubuntu SMP Fri Apr 16 09:57:56 UTC 2021
print(python_implementation()) # CPython
print(python_version())        # 3.7.10

Windows
10.0.26100
CPython
3.13.6

In [19]:
def myfunc(n):
    res = 1
    for i in range(n,n+2,1):
        yield res
        res*= 2
    
y = [x for x in myfunc(3)]
print(y)            # [1,2]
    
y = [x for x in myfunc(4)]
print(y)            # [1,2]
    
y = [x for x in myfunc(5)]
print(y)            # [1,2]

[1, 2]
[1, 2]
[1, 2]

In [22]:
class Sith:
    darkside= True
    def __init__(self, x, y):
        self.name = x
        self.lightsaber = 1
        self.__son = y
    def __str__(self):
        return self.name
    
Vader = Sith("Vader", "Luke")
Vader.__daughter = 'Leia'
print(Vader.__dict__)

{'name': 'Vader', 'lightsaber': 1, '_Sith__son': 'Luke', '__daughter': 'Leia'}

In [24]:
class Robot:
    def __init__(self, name):
        self.name = name
    def __str__(self):
        return "My name is " + self.name
    
class Droid(Robot):
    def __str__(self):
        return "Hello I am a Droid and my name is " + self.name

R2D2 = Droid("R2D2")
print(R2D2)        # Hello I am a Droid and my name is R2D2

Hello I am a Droid and my name is R2D2

In [ ]:
f = open('myfilex.txt','x+t')
f.write('Hello World !\n')
f.seek(0)
print(f.read())
f.close()

In [56]:
class A:
    def __init__(self, v=11):
        self.x = v
        
class B(A):
    def __init__(self,v):
        super().__init__(v)
        #A.__init__(self, v=22)
        self.z = 30

b = B(67)
print(b.x, b.z)   # 10 30

67 30

In [59]:
class Jedi:
    def __init__(self, name):
        self.name = name
    def Print(self):
        return self.name
    def __repr__(self):
        return self.name


Luke = Jedi('Luke')
print(Luke) 
print(Luke.Print())

Luke
Luke

In [62]:
class Exemplo:
    def __str__(self):
        return "Método __str__"
    
    def __repr__(self):
        return "Método __repr__"

e = Exemplo()
print(e)           # Chama __str__ → "Método __str__"
print(str(e))      # Chama __str__ → "Método __str__"
print(repr(e))     # Chama __repr__ → "Método __repr__"

Método __str__
Método __str__
Método __repr__

In [ ]:
mystring='Skywalker'
n=0
while n<=len(mystring):
    print(mystring[n],end='')
    if mystring[n]=='y':
        break
    else:  
        continue
    n+=1
else:
    print(mystring[0])

In [66]:
from random import random
from math import floor
    
for i in range(5):
    print(floor(random()*10),end=',')
print("-----")
print(floor(1.9))

9,3,1,7,2,-----
1

In [70]:
def myfunc(x):
    try:
        y = 1 / x
    except ZeroDivisionError:
        print("Failure")
    except:
        print("Error")
        #return "é lixado este erro :-)"
    else:
        print("Everything OK")
        return y
    finally:
        print("Completed")
    
    
print(myfunc('0'))

Error
Completed
None

In [73]:
class AlphaDivisionError(ZeroDivisionError):	
    def __init__(self, message):
        ZeroDivisionError.__init__(self, message)
    
def func_div(x,y):
    if y==0:
        raise ZeroDivisionError("Can't divide by zero !")
    elif isinstance(y, str):		
        raise AlphaDivisionError("Can't divide by string !")
    else:		
        return x/y
    
try:
    print(func_div(4,'a'))
except ZeroDivisionError as e:
    #print("batatas")
    print(str(e))                    # Can't divide by string !
except Exception as e:
    print("There is an error !")
else:
    print('All good !')

batatas
Can't divide by string ! ("Can't divide by string !",)

In [78]:
f = open("animals.txt", "r")
print(f.readline(20))        # This is my test file
print(f.readline(20))        # This is my test file

dog

cat

In [79]:
mylist1 = [[i for i in 'Luke'] for j in range(3)]
print(mylist1)   # [['L', 'u', 'k', 'e'], ['L', 'u', 'k', 'e'], ['L', 'u', 'k', 'e']]

[['L', 'u', 'k', 'e'], ['L', 'u', 'k', 'e'], ['L', 'u', 'k', 'e']]

In [80]:
mylist1 = [[i for i in 'Luke'] for j in range(3)]
mylist2 =[]
    
print(mylist1)       # [['L', 'u', 'k', 'e'], ['L', 'u', 'k', 'e'], ['L', 'u', 'k', 'e']]
    
for x in mylist1:
    print (x)        # ['L', 'u', 'k', 'e']
    for y in x:      # 'L' --> 'u' --> 'k' --> 'e'
        if y in mylist2:
            continue
        else:
            mylist2.append(y)
else:       
    mylist2.append('!')
print(''.join(mylist2)) # Luke!

[['L', 'u', 'k', 'e'], ['L', 'u', 'k', 'e'], ['L', 'u', 'k', 'e']]
['L', 'u', 'k', 'e']
['L', 'u', 'k', 'e']
['L', 'u', 'k', 'e']
Luke!

In [84]:
mylist1 = [[chr(ord(i)+1) for i in 'Luke'] for j in range(3)]
print(mylist1)       # [['M', 'v', 'l', 'f'], ['M', 'v', 'l', 'f'], ['M', 'v', 'l', 'f']]

[['M', 'v', 'l', 'f'], ['M', 'v', 'l', 'f'], ['M', 'v', 'l', 'f']]

In [ ]:
class Jedi:
    Force = 0
    def __init__(self,name):
        Jedi.Force +=1
        self.name = name
    def __str__(self):
        return "I am master Jedi " + self.name
    
class Padawan(Jedi):
    def print(self):
        return "I am a Padawan"
    
Luke=Jedi('Luke')
print(Jedi.Force)                # 1

Ben=Jedi('Ben')
print(Jedi.Force)                # 2

Baby_Yoda=Padawan('Baby Yoda')
print(Jedi.Force)                # 3

print(Baby_Yoda)                 # I am master Jedi Baby Yoda

1
2
3
I am master Jedi Baby Yoda

In [86]:
try:
    f = open('myfile.txt', 'wt')
    for i in range(10):
        s = "line #" + str(i+1) + "\n"
        f.write(s)
    f.close()
except:
    print("I/O error occurred:")
# End of code

In [10]:
f = open('myfile.txt', 'r')
#data = f.readlines(10)
data = f.readlines()
print(data)
f.close()

['line #1\n', 'line #2\n', 'line #3\n', 'line #4\n', 'line #5\n', 'line #6\n', 'line #7\n', 'line #8\n', 'line #9\n', 'line #10\n']

In [27]:
x="3.45"
#print(float("3"))
#print(int(x))
#print(float("10//2"))
print(float(10//2))
#print(int("9"))

5.0

In [28]:
my_string = "ab3c4d5ef"
for x in my_string:
    if x.isdigit():
        print(x, end='')

345

In [30]:
print(-4**2)
print((-4)**2)

-16
16

In [31]:
d = {'a': 1, 'b': 2}
items = d.items()
print(type(items))  # <class 'dict_items'>
print(items)        # dict_items([('a', 1), ('b', 2)])

# Cada elemento é uma tupla, não uma lista
for item in items:
    print(type(item))  # <class 'tuple'>

<class 'dict_items'>
dict_items([('a', 1), ('b', 2)])
<class 'tuple'>
<class 'tuple'>

In [33]:
i = 6
while i > 0:
    #print(i)    # 6 at first iteration, 4 at 2nd iteration
    i -= 2
    #print(i)    # 4 at first iteration, 2 at 2nd iteration
    print('*')  # gets executed at first and 2nd iteration
    if i == 2:  # True at 2nd iteration
        break   #  while-else loop is exited
    else:
        continue 
    print('*')  # this line never gets executed because of continue
else:
    print('*')

*
*

In [34]:
x = 1
while x < 5:
    print('*')
    x = x << 1
else:
    print(2*'*')
finally:
    print(3*'*')

SyntaxError: invalid syntax (1076347730.py, line 7)

In [38]:
X = (5, 3, 5, 1, 8)
print(X.count(5))

2

In [41]:
print(400**0)
print(bool(4**0))

1
True

In [ ]:
def sub(a, b=1):
    if a>b:
        return a-b
    else:
        return b-a
    
print(sub(3,4))       # 1   (using positional arguments)
print(sub(b=4,a=3))   # 1   (using keyword arguments)
print(sub(a=3,b=4))   # 1   (using keyword arguments)
print(sub(3,b=4))     # 1   (using a mix)
print(sub(a=3,4))     # SyntaxError

SyntaxError: positional argument follows keyword argument (3554624878.py, line 11)

In [48]:
print(5//2)
print(5//2.0)

2
2.0

In [51]:
y = 'R2D2'
def my_func(x):
    global y
    y = x
    return y
    
x = 'Yoda'
my_func('C3PO')
print(y)

C3PO

In [53]:
z = 3
y = 7
x = y == z and y > z or z > y and z != y
print(int(x))
print(int(True))

0
1

In [59]:
x = {(1, 2): 1, (2, 3): 2, 31:"batatas"}
print(x[31])

batatas

In [60]:
dictionary = {"Luke": "Skywalker", "Han": "Solo", "Darth": "Vader"}
    
for x in dictionary.values():
    print(x,end=',')

Skywalker,Solo,Vader,

In [63]:
my_dict = {}
my_list = ['Luke', 'Leia', 'Han', 'Ben']

for i in range(len(my_list)-1):  # range(3) -> i = 0, 1, 2
    my_dict[i] = (my_list[i], )  # Cria uma tupla com um elemento

# my_dict fica:
# {0: ('Luke',), 1: ('Leia',), 2: ('Han',)}

for i in sorted(my_dict.keys()):  # Itera pelas chaves em ordem: 0, 1, 2
    j = my_dict[i]  # j é uma tupla de um elemento
    print(type(j), j)
    #print(j[0])

<class 'tuple'> ('Luke',)
<class 'tuple'> ('Leia',)
<class 'tuple'> ('Han',)

In [ ]:
my_dict = {}
my_list = ['Luke', 'Leia', 'Han', 'Ben']

my_dict = {i: (my_list[i],) for i in range(len(my_list))}
print(my_dict)

{0: ('Luke', 1), 1: ('Leia', 1), 2: ('Han', 1), 3: ('Ben', 1)}

In [71]:
my_dict = {}
my_list = ['Luke', 'Han', 'Leia', 'Ben']
    
for i in range(len(my_list)-1):
    my_dict[i] = (my_list[i],)
    
print(my_dict)     # {0: ('Luke',), 1: ('Han',), 2: ('Leia',)}
    
for i in sorted(my_dict.keys()):
    j = my_dict[i]
    print(j[0])    # Luke -> Han -> Leia
    #print(j[i])   # Luke -> exception : IndexError: tuple index out of range
    #print(j)      # ('Luke',) -> ('Han',) -> ('Leia',)
    #print(j['0']) # exception : TypeError: tuple indices must be integers or slices, not str

{0: ('Luke',), 1: ('Han',), 2: ('Leia',)}
Luke
Han
Leia

In [77]:
ii=1
while ii in range(1,11,2):
    print(ii, end='')
    ii += 2
else:
    print('*')

13579*

In [92]:
def myfun(n):
    if n%2 == 0:
        return 0
    else:
        return 1 + myfun(n+1)
    
print(myfun(5))

1

In [94]:
a = 3
b = 4
c = 5
print(a,b,c,',',c,b,a)
print(a,b,c,',',c,b,a,sep='')

3 4 5 , 5 4 3
345,543

In [ ]:
Lis=[1,2,3,4,5]
print(Lis[::-1])  # [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [96]:
List = (1, 2, 4, 8)
List = List[1:-2]
print(List)        # (2,)
List = list(List)
print(List)        # [2]

(2,)
[2]

In [103]:
#print(range(10))
print(list(range(0)))
print(range(10), list(range(10)) == [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

[]
range(0, 10) True

In [106]:
countries1 = ['France', 'USA', 'Italy']
countries2 = countries1
countries3 = countries1[:]
    
countries2[0] = 'England'
countries3[1] = 'Canada'
    
res = 0
    
print(countries1, countries2, countries3) 
# ['England', 'USA', 'Italy'] ['England', 'USA', 'Italy'] ['France', 'Canada', 'Italy']
    
for i in (countries1, countries2, countries3):
    print(i[0])    # England -> England -> France
    if i[0] == 'England':
        res += 1
    print(i[1])    # USA -> USA -> Canada
    if i[1] == 'Canada':
        res += 2
    
print(res)         # 4
print(id(countries2), id(countries1), id(countries3))

['England', 'USA', 'Italy'] ['England', 'USA', 'Italy'] ['France', 'Canada', 'Italy']
England
USA
England
USA
France
Canada
4
1830406928640 1830406928640 1830404072192

In [107]:
print(list(range(0, 10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
x = 3
y = 2
z = 3

def my_func(x,y,z=1):
    return(x**y**z)

#print(my_func(x=2,y,z))     # SyntaxError: positional argument follows keyword argument
print(my_func(2,y,z))
print(my_func(2,y=1,z=8))
print(my_func(4,y=2))

256
2
16

In [115]:
def func(x):
    for i in range(x+1):
        if i%6 == 0:
            yield i
list1 = [x for x in func(100)]    # list comprehension
 
print(list1)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]